[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
flask-bcrypt = "*"
flask-migrate = "*"
flask-jwt-extended = {extras = ["asymmetric_crypto"], version = "*"}
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.12"
